<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Parsing>
		<YagoSimpleTypesFilePath>C:\Users\Roy\Desktop\test\yagoSimpleTypes.ttl</YagoSimpleTypesFilePath> <!-- yagoSimpleTypes.ttl file path -->
		<YagoFactsFilePath>C:\Users\Roy\Desktop\test\yagoFacts.ttl</YagoFactsFilePath> <!-- yagoFacts.ttl file path -->
		<YagoLiteralFactsFilePath>C:\Users\Roy\Desktop\test\yagoLiteralFacts.ttl</YagoLiteralFactsFilePath> <!-- yagoLiteralFacts.ttl file path -->
		<YagoWikipediaInfoFilePath>C:\Users\Roy\Desktop\test\yagoWikipediaInfo.ttl</YagoWikipediaInfoFilePath> <!-- yagoWikipediaInfo.ttl file path -->
		<IMDBgenreListFilePath> </IMDBgenreListFilePath> <!-- genres.list file path. if empty, use the file attached with the application  -->
		<IMDBplotListFilePath> </IMDBplotListFilePath> <!-- plot.list file path. if empty, use the file attached with the application  -->	 
	</Parsing>
	<DB>
		<Host>localhost</Host>
		<Port>3305</Port>		
	</DB>
</Configuration>