<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Parsing>
		<YagoSimpleTypesFilePath>c:\Users\Roy\Dropbox\DB Project\Yago Tables\yagoSimpleTypes.ttl</YagoSimpleTypesFilePath> <!-- yagoSimpleTypes.ttl file path -->
		<YagoFactsFilePath>c:\Users\Roy\Dropbox\DB Project\Yago Tables\yagoFacts.ttl</YagoFactsFilePath> <!-- yagoFacts.ttl file path -->
		<YagoLiteralFactsFilePath>c:\Users\Roy\Dropbox\DB Project\Yago Tables\yagoLiteralFacts.ttl</YagoLiteralFactsFilePath> <!-- yagoLiteralFacts.ttl file path -->
		<YagoWikipediaInfoFilePath>c:\Users\Roy\Dropbox\DB Project\Yago Tables\yagoWikipediaInfo.ttl</YagoWikipediaInfoFilePath> <!-- yagoWikipediaInfo.ttl file path -->
		<IMDBgenreListFilePath> </IMDBgenreListFilePath> <!-- genres.list file path. if empty, use the file attached with the application  -->
		<IMDBplotListFilePath> </IMDBplotListFilePath> <!-- plot.list file path. if empty, use the file attached with the application  -->
		<IMDBlanguageFilePat> </IMDBlanguageFilePat> <!-- language.list file path. if empty, use the file attached with the application  -->	 
	</Parsing>
	<DB>
		<Host>localhost</Host>
		<Port>3306</Port>
		<DbName>DbMysql05</DbName>
		<UserName>root</UserName>
		<Password>61088</Password>
		<NumOfConnections>5</NumOfConnections>
	</DB>
</Configuration>